<div class="precip">
    <h3>Precipitação Anual (mm):</h3>
    <p>Janeiro</p>
    <p>{{ form.precip_ano_1 }}</p>
    <p>Fevereiro</p>
    <p>{{ form.precip_ano_2 }}</p>
    <p>Março</p>
    <p>{{ form.precip_ano_3 }}</p>
    <p>Abril</p>
    <p>{{ form.precip_ano_4 }}</p>
    <p>Maio</p>
    <p>{{ form.precip_ano_5 }}</p>
    <p>Junho</p>
    <p>{{ form.precip_ano_6 }}</p>
    <p>Julho</p>
    <p>{{ form.precip_ano_7 }}</p>
    <p>Agosto</p>
    <p>{{ form.precip_ano_8 }}</p>
    <p>Setembro</p>
    <p>{{ form.precip_ano_9 }}</p>
    <p>Outubro</p>
    <p>{{ form.precip_ano_10 }}</p>
    <p>Novembro</p>
    <p>{{ form.precip_ano_11 }}</p>
    <p>Dezembro</p>
    <p>{{ form.precip_ano_12 }}</p>
</div>
<hr>
<div class="temp">
    <h3>Temperatura Anual (°C):</h3>
    <p>Janeiro</p>
    <p>{{ form.temp_ano_1 }}</p>
    <p>Fevereiro</p>
    <p>{{ form.temp_ano_2 }}</p>
    <p>Março</p>
    <p>{{ form.temp_ano_3 }}</p>
    <p>Abril</p>
    <p>{{ form.temp_ano_4 }}</p>
    <p>Maio</p>
    <p>{{ form.temp_ano_5 }}</p>
    <p>Junho</p>
    <p>{{ form.temp_ano_6 }}</p>
    <p>Julho</p>
    <p>{{ form.temp_ano_7 }}</p>
    <p>Agosto</p>
    <p>{{ form.temp_ano_8 }}</p>
    <p>Setembro</p>
    <p>{{ form.temp_ano_9 }}</p>
    <p>Outubro</p>
    <p>{{ form.temp_ano_10 }}</p>
    <p>Novembro</p>
    <p>{{ form.temp_ano_11 }}</p>
    <p>Dezembro</p>
    <p>{{ form.temp_ano_12 }}</p>
</div>    