<div class="precip">
    <h3>Precipitação Mensal (mm):</h3>
    <p>Semana 1</p>
    {{ form.precip_mes_1 }}
    <p>Semana 2</p>
    {{ form.precip_mes_2 }}
    <p>Semana 3</p>
    {{ form.precip_mes_3 }}
    <p>Semana 4</p>
    {{ form.precip_mes_4 }}
</div>

<hr>

<div class="temp">
    <h3>Temperatura Mensal (°C):</h3>
    <p>Semana 1</p>
    {{ form.temp_mes_1 }}
    <p>Semana 2</p>
    {{ form.temp_mes_2 }}
    <p>Semana 3</p>
    {{ form.temp_mes_3 }}
    <p>Semana 4</p>
    {{ form.temp_mes_4 }}
</div>
