<div class="precip">
    <h3>Precipitação Semanal (mm):</h3>
    <p>Domingo</p>
    <p>{{ form.precip_sem_dom }}</p>
    <p>Segunda-feira</p>
    <p>{{ form.precip_sem_seg }}</p>
    <p>Terça-feira</p>
    <p>{{ form.precip_sem_ter }}</p>
    <p>Quarta-feira</p>
    <p>{{ form.precip_sem_qua }}</p>
    <p>Quinta-feira</p>
    <p>{{ form.precip_sem_qui }}</p>
    <p>Sexta-feira</p>
    <p>{{ form.precip_sem_sex }}</p>
    <p>Sábado</p>
    <p>{{ form.precip_sem_sab }}</p>
</div>
<hr>
<div class="temp">
    <h3>Temperatura Semanal (°C):</h3>
    <p>Domingo</p>
    <p>{{ form.temp_sem_dom }}</p>
    <p>Segunda-feira</p>
    <p>{{ form.temp_sem_seg }}</p>
    <p>Terça-feira</p>
    <p>{{ form.temp_sem_ter }}</p>
    <p>Quarta-feira</p>
    <p>{{ form.temp_sem_qua }}</p>
    <p>Quinta-feira</p>
    <p>{{ form.temp_sem_qui }}</p>
    <p>Sexta-feira</p>
    <p>{{ form.temp_sem_sex }}</p>
    <p>Sábado</p>
    <p>{{ form.temp_sem_sab }}</p>
</div>    